[
    {
        "idViagem":"${body.idViagem}",
        "idJornada":"${body.idJornada}"
    },
    {
        "$inc":{
            "totalBilhetes":1
        },
        "$push":{
            "bilhetes":{
                "idViagem":"${body.idViagem}",
                "idJornada":"${body.idJornada}",
                "dataHoraEvento":"${body.dataHoraEvento}",
                "numeroEquipamento":"${body.dataHoraEvento}",
                "numeroBilheteEmbarque":"${body.numeroBilheteEmbarque}",
                "identificacaoLinha":"${body.identificacaoLinha}",
                "dataPrevistaViagem":"${body.dataPrevistaViagem}",
                "horaPrevistaViagem":"${body.horaPrevistaViagem}",
                "codigoDesconto":"${body.codigoDesconto}",
                "valorTarifa":${body.valorTarifa},
                "percentualDesconto":${body.percentualDesconto},
                "celularPassageiro":"${body.celularPassageiro}",
                #if ($body.latitude and $body.longitude)
                    "localizacao":{
                        "type":"POINT",
                        "coordinates":[
                            ${body.longitude},
                            ${body.latitude}
                        ]
                    },
                #end
                "imei":"${body.imei}"
            }
        }
    }
]
