[
    {
        "idViagem":"${body.idViagem}",
        "idServico":"${body.idServico}"
    },
    {
        "$push":{
            "paradas":{
                "dataHora":"${body.dataHoraEvento}",
                #if ($body.latitude and $body.longitude)
                    "localizacao":{
                        "type":"POINT",
                        "coordinates":[
                            ${body.latitude},
                            ${body.longitude}
                        ]
                    },
                #end
                "motivoParada":"${exchange.properties.motivo}"
            }
        },
        "$inc":{
            "totalParadas":1,
            "totalParadasPorMotivo.${exchange.properties.motivo}":1
        }
    }
]
