#set($jornada = $exchange.properties.jornada)
#set($dataInicialViagem = $exchange.properties.dataInicialViagem)
{
    "idViagem":"${headers.idViagem}",
    "idJornada":"${headers.idJornada}",
    "idCliente" : ${jornada.idCliente},
    #if($jornada.imei)
        "imei":"${jornada.imei}",
    #else
        "imei":"${body.imei}",
    #end
    "pdop":"${body.pdop}",
    #if($body.identificacaoLinha)
        "identificacaoLinha":"${body.identificacaoLinha}",
    #else
        "identificacaoLinha":"${body.autorizacaoViagem}",
    #end
    "cnpjCliente":"${jornada.cnpjCliente}",
    "dataHoraInicial":"${body.dataHoraEvento}",
    "dataInicialViagem":"${dataInicialViagem}",
    "dataInicial":"${exchange.properties.dataInicial}",
    "cpfMotorista":"${jornada.cpfMotorista}",
    "placaVeiculo":"${jornada.placaVeiculo}",
    "tipoViagem":"${exchange.properties.tipoViagem}",
    "tipoTransporte":"${exchange.properties.tipoTransporte}",
    "sentidoLinha":"${exchange.properties.sentidoLinha}",
    #if ($body.latitude and $body.longitude)
        "localizacaoInicial":{
            "type":"POINT",
            "coordinates":[
                ${body.longitude},
                ${body.latitude}
            ]
        },
    #end
    "totalBilhetes":0,
    "totalParadas":0,
    "totalKm":0,
    "velocidadeMaxima":0,
    "velocidadeMinima":{"$maxKey":1},
    "direcaoContinua":{
        tempoMaximo: 0,
        cpfMotorista: "${jornada.cpfMotorista}"
    },
    "paradas":[],
    "bilhetes":[],
    "localizacoes":[],
    "aberto":true,
    "totalParadasPorMotivo":{
        "PROGRAMADA":0,
        "SOLICITACAO_DE_PASSAGEIRO":0,
        "SOLICITACAO_DE_MOTORISTA":0,
        "SOLICITACAO_EXTERNA":0,
        "SOLICITACAO_FISCALIZACAO":0,
        "ACIDENTE_NA_VIA":0,
        "ACIDENTE_COM_VEICULO":0,
        "ACIDENTE_COM_PASSAGEIRO":0,
        "DEFEITO_NO_VEICULO":0,
        "TROCA_PROGRAMADA_DE_VEICULO":0,
        "OUTRO":0
    }
}