{
    "idViagem":"${exchange.properties.payload.idViagem}",
    "idServico":"${exchange.properties.payload.idServico}",
    "identificacaoLinha":"${exchange.properties.payload.identificacaoLinha}",
    "cnpjCliente":"${exchange.properties.payload.cnpjEmpresaTransporte}",
    "dataHoraInicial":"${exchange.properties.payload.dataHoraEvento}",
    "dataInicial":"${exchange.properties.dataInicial}",
    "cpfMotorista":"${body.cpfMotorista}",
    "placaVeiculo":"${exchange.properties.payload.placaVeiculo}",
    "descricaoDaLinha":"${exchange.properties.linha}",
    "idCliente":"${exchange.properties.payload.idCliente}",
    "tipoViagem":"${exchange.properties.tipoViagem}",
    "tipoTransporte":"${exchange.properties.tipoTransporte}",
    "sentidoLinha":"${exchange.properties.sentidoLinha}",
    "localizacaoInicial":{
        "type":"POINT",
        "coordinates":[
            ${exchange.properties.payload.latitude},
            ${exchange.properties.payload.longitude}
        ]
    },
    "totalBilhetes":0,
    "totalParadas":0,
    "totalKm":0,
    "velocidadeMaxima":0,
    "velocidadeMinima":{"$maxKey":1},
    "direcaoContinuaMaxima":0,
    "paradas":[],
    "bilhetes":[],
    "localizacoes":[],
    "aberto":true
}