{
    "idViagem":"${exchange.properties.payload.idViagem}",
    "idCliente" : ${exchange.properties.payload.idCliente},
    "idJornada":"${exchange.properties.payload.idJornada}",
    "imei":"${exchange.properties.payload.imei}",
    "pdop":"${exchange.properties.payload.pdop}",
    "identificacaoLinha":"${exchange.properties.payload.identificacaoLinha}",
    "cnpjCliente":"${exchange.properties.payload.cnpjEmpresaTransporte}",
    "dataHoraInicial":"${exchange.properties.payload.dataHoraEvento}",
    "dataInicial":"${exchange.properties.dataInicial}",
    "cpfMotorista":"${body.cpfMotorista}",
    "placaVeiculo":"${exchange.properties.payload.placaVeiculo}",
    "tipoViagem":"${exchange.properties.tipoViagem}",
    "tipoTransporte":"${exchange.properties.tipoTransporte}",
    "sentidoLinha":"${exchange.properties.sentidoLinha}",
    #if ($exchange.properties.payload.latitude and $exchange.properties.payload.longitude)
        "localizacaoInicial":{
            "type":"POINT",
            "coordinates":[
                ${exchange.properties.payload.longitude},
                ${exchange.properties.payload.latitude}
            ]
        },
    #end
    "totalBilhetes":0,
    "totalParadas":0,
    "totalKm":0,
    "velocidadeMaxima":0,
    "velocidadeMinima":{"$maxKey":1},
    "direcaoContinua":{
        tempoMaximo: 0,
        cpfMotorista: "${body.cpfMotorista}"
    },
    "paradas":[],
    "bilhetes":[],
    "localizacoes":[],
    "aberto":true,
    "totalParadasPorMotivo":{
        "PROGRAMADA":0,
        "SOLICITACAO_DE_PASSAGEIRO":0,
        "SOLICITACAO_DE_MOTORISTA":0,
        "SOLICITACAO_EXTERNA":0,
        "SOLICITACAO_FISCALIZACAO":0,
        "ACIDENTE_NA_VIA":0,
        "ACIDENTE_COM_VEICULO":0,
        "ACIDENTE_COM_PASSAGEIRO":0,
        "DEFEITO_NO_VEICULO":0,
        "TROCA_PROGRAMADA_DE_VEICULO":0,
        "OUTRO":0
    },
    "logInfo":{
        "codigoTipoViagem":${exchange.properties.payload.codigoTipoViagem},
        "codigoSentidoLinha":${exchange.properties.payload.codigoSentidoLinha},
        "idLog":${exchange.properties.payload.idLog}
    }
}