[
    {
        "idViagem":"${exchange.properties.payload.idViagem}",
        "idServico":"${exchange.properties.payload.idServico}"
    },
    {
        "$set":{
            "dataFinal":"${exchange.properties.dataFinal}",
            "dataHoraFinal":"${exchange.properties.payload.dataHoraEvento}",
            "duracao":${exchange.properties.duracao},
            "aberto":false,
            "localizacaoFinal":{
                "type":"POINT",
                "coordinates":[
                    ${exchange.properties.payload.latitude},
                    ${exchange.properties.payload.longitude}
                ]
            }
        }
    }
]