[
    {
        "idViagem":"${exchange.properties.payload.idViagem}",
        "idJornada":"${exchange.properties.payload.idJornada}"
    },
    {
        "$set":{
            "dataFinal":"${exchange.properties.dataFinal}",
            "dataHoraFinal":"${exchange.properties.payload.dataHoraEvento}",
            "duracao":${exchange.properties.duracao},
            "aberto":false,
            #if ($exchange.properties.payload.latitude and $exchange.properties.payload.longitude)
                "localizacaoFinal":{
                    "type":"POINT",
                    "coordinates":[
                        ${exchange.properties.payload.longitude},
                        ${exchange.properties.payload.latitude}
                    ]
                }
            #end
        }
    }
]