{
    "_id":"${headers.idJornada}",
    "idJornada":"${headers.idJornada}",
    "idCliente" : ${body.idCliente},
    "dataHoraInicial":"${body.dataHoraEvento}",
    "dataInicial":"${exchange.properties.dataInicial}",
    "cnpjCliente":"${body.cnpjEmpresaTransporte}",
    "imei":"${body.imei}",
    #if ($body.latitude and $body.longitude)
        "coordenadasInicio":{
            "type":"Point",
            "coordinates":[
                ${body.longitude},
                ${body.latitude}
            ]
        },
    #end
    #if($exchange.properties.nomeMotorista)
        "nomeMotorista":"${exchange.properties.nomeMotorista}",
    #else
        "nomeMotorista":null,
    #end
    "cpfMotorista":"${body.cpfMotorista}",
    "placaVeiculo":"${body.placaVeiculo}",
    "aberto":true
}