{
    "idJornada":"${body.idJornada}",
    "dataHoraInicial":"${body.dataHoraEvento}",
    "dataInicial":"${exchange.properties.dataInicial}",
    "cnpjCliente":"${body.cnpjEmpresaTransporte}",
    "coordenadasInicio":{
        "type":"Point",
        "coordinates":[
            ${body.latitude},
            ${body.longitude}
        ]
    },
    "cpfMotorista":"${body.cpfMotorista}",
    "placaVeiculo":"${body.placaVeiculo}",
    "idCliente":${body.idCliente},
    "aberto":true
}