{
    "idJornada":"${body.idJornada}",
    "dataHoraInicial":"${body.dataHoraEvento}",
    "dataInicial":"${exchange.properties.dataInicial}",
    "cnpjCliente":"${body.cnpjEmpresaTransporte}",
    #if ($body.latitude and $body.longitude)
        "coordenadasInicio":{
            "type":"Point",
            "coordinates":[
                ${body.latitude},
                ${body.longitude}
            ]
        },
    #end
    "cpfMotorista":"${body.cpfMotorista}",
    "placaVeiculo":"${body.placaVeiculo}",
    "idCliente":${body.idCliente},
    "aberto":true
}