[
    {
      "idJornada":"${exchange.properties.payload.idJornada}",
      "placaVeiculo":"${exchange.properties.payload.placaVeiculo}"
    },
    {
      "$set":{
        "dataHoraFinal":"${exchange.properties.payload.dataHoraEvento}",
        "dataFinal":"${exchange.properties.dataFinal}",
        "duracao":${exchange.properties.duracao},
        #if ($exchange.properties.payload.latitude and $exchange.properties.payload.longitude)
            "coordenadasFim":{
                "type":"POINT",
                "coordinates":[
                    ${exchange.properties.payload.latitude},
                    ${exchange.properties.payload.longitude}
                ]
            },
        #end
        "horasPorData":${exchange.properties.horasPorData},
        "tempoMaximoJornada":${exchange.properties.tempoMaximoJornada},
        "aberto":false
      }
    }
]

