[
    {
      "idJornada":"${exchange.properties.payload.idJornada}",
      "placaVeiculo":"${exchange.properties.payload.placaVeiculo}"
    },
    {
      "$set":{
        "dataHoraFinal":"${exchange.properties.payload.dataHoraEvento}",
        "dataFinal":"${exchange.properties.dataFinal}",
        "duracao":${exchange.properties.duracao},
        "aberto":false,
        "coordenadasFim":{
            "type":"POINT",
            "coordinates":[
                ${exchange.properties.payload.latitude},
                ${exchange.properties.payload.longitude}
            ]
        }
      }
    }
]

