[
    {
      "idJornada":"${headers.idJornada}",
    },
    {
      "$set":{
        "dataHoraFinal":"${exchange.properties.payload.dataHoraEvento}",
        "dataFinal":"${exchange.properties.dataFinal}",
        "duracao":${exchange.properties.duracao},
        #if ($exchange.properties.payload.latitude and $exchange.properties.payload.longitude)
            "coordenadasFim":{
                "type":"POINT",
                "coordinates":[
                    ${exchange.properties.payload.longitude},
                    ${exchange.properties.payload.latitude}
                ]
            },
        #end
        "horasPorData":${exchange.properties.horasPorData},
        #if($exchange.properties.tempoMaximoJornada)
            "duracaoMaximaPermitida":${exchange.properties.tempoMaximoJornada},
        #end
        "aberto":false
      }
    }
]

