[
    {
        "idJornada":"${headers.idJornada}"
    },
    {
        "$set":{
           "dataHoraFinal":null,
           "dataFinal":null,
           "duracao":null,
           "coordenadasFim":null,
           "horasPorData":null,
           "aberto":true
        }
    }
]