[
    {
        "idViagem":"${exchange.properties.originalPayload.idViagem}",
        "idServico":"${exchange.properties.originalPayload.idServico}",
        "direcaoContinua.tempoMaximo":{
            "$lt":${exchange.properties.originalPayload.tempoDirecao}
        }
    },
    {
        "$set":{
            #if($exchange.properties.tempoMaximoDirecao)
                "direcaoContinua.tempoMaximoPermitido":${exchange.properties.tempoMaximoDirecao},
            #end
            "direcaoContinua.tempoMaximo":${exchange.properties.originalPayload.tempoDirecao}
        }
    }
]