#set($payload = $exchange.properties.originalPayload)
[
    {
        "idViagem":"${payload.idViagem}",
        "idJornada":"${payload.idJornada}"
    },
    {
        $max:{
            #if ($exchange.properties.distanciaPercorrida)
                "totalKm":${exchange.properties.distanciaPercorrida},
            #end
            "velocidadeMaxima":${payload.velocidadeAtual}
        },
            #if($payload.velocidadeAtual > 0)
                $min:{"velocidadeMinima":${payload.velocidadeAtual}},
            #end
        $push:{
            "localizacoes":{
                "dataHoraLocalizacao":"${payload.dataHoraEvento}",
                "velocidade":${payload.velocidadeAtual},
                "distanciaPercorrida":${payload.distanciaPercorrida},
                "situacaoIgnicaoMotor":"${exchange.properties.situacaoIgnicaoMotor}",
                "situacaoPortaVeiculo":"${exchange.properties.situacaoPortaVeiculo}",
                #if ($payload.latitude and $payload.longitude)
                    "localizacao":{
                        "type":"POINT",
                        "coordinates":[
                            ${payload.longitude},
                            ${payload.latitude}
                        ]
                    }
                #end
            }
        }
    }
]