[
    {
        "idViagem":"${exchange.properties.originalPayload.idViagem}",
        "idServico":"${exchange.properties.originalPayload.idServico}"
    },
    {
        $max:{
            "velocidadeMaxima":${exchange.properties.originalPayload.velocidadeAtual},
            "totalKm":${exchange.properties.distanciaPercorrida}
        },
        $min:{"velocidadeMinima":${exchange.properties.originalPayload.velocidadeAtual}},
        $push:{
            "localizacoes":{
                "dataHoraLocalizacao":"${exchange.properties.originalPayload.dataHoraEvento}",
                "velocidade":${exchange.properties.originalPayload.velocidadeAtual},
                "distanciaPercorrida":${exchange.properties.distanciaPercorrida},
                "situacaoIgnicaoMotor":"${exchange.properties.situacaoIgnicaoMotor}",
                "situacaoPortaVeiculo":"${exchange.properties.situacaoPortaVeiculo}",
                "localizacao":{
                    "type":"POINT",
                    "coordinates":[
                        ${exchange.properties.originalPayload.latitude},
                        ${exchange.properties.originalPayload.longitude}
                    ]
                }
            }
        }
    }
]