[
    {
        "idViagem":"${exchange.properties.originalPayload.idViagem}",
        "idJornada":"${exchange.properties.originalPayload.idJornada}"
    },
    {
        $max:{
            #if ($exchange.properties.distanciaPercorrida)
                "totalKm":${exchange.properties.distanciaPercorrida},
            #end
            "velocidadeMaxima":${exchange.properties.originalPayload.velocidadeAtual}
        },
        $min:{"velocidadeMinima":${exchange.properties.originalPayload.velocidadeAtual}},
        $push:{
            "localizacoes":{
                "dataHoraLocalizacao":"${exchange.properties.originalPayload.dataHoraEvento}",
                "velocidade":${exchange.properties.originalPayload.velocidadeAtual},
                "distanciaPercorrida":${exchange.properties.originalPayload.distanciaPercorrida},
                "situacaoIgnicaoMotor":"${exchange.properties.situacaoIgnicaoMotor}",
                "situacaoPortaVeiculo":"${exchange.properties.situacaoPortaVeiculo}",
                #if ($exchange.properties.originalPayload.latitude and $exchange.properties.originalPayload.longitude)
                    "localizacao":{
                        "type":"POINT",
                        "coordinates":[
                            ${exchange.properties.originalPayload.longitude},
                            ${exchange.properties.originalPayload.latitude}
                        ]
                    }
                #end
            }
        }
    }
]